Repository IQA-App/web-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gbaranov, @SergeDot, @lanasussman, @Elgrueber, @Rom-T, @Keldieva, @OlgaAutomation4, @sashakolsky

.github/CODEOWNERS:

# Codeowners to all the files
* @gbaranov
* @SergeDot
* @lanasussman

# Codeowners to all the workflows
.github/ @Elgrueber
.github/ @Rom-T
.github/ @Keldieva
.github/ @OlgaAutomation4
.github/ @sashakolsky

Update azure-static-web-apps-victorious-moss-004c1090f.yml
  .github/workflows/azure-static-web-apps-victorious-moss-004c1090f.yml
Owners: @sashakolsky

add dockerfile and yml file to create docker image and push it to docker hub
  .github/workflows/docker-build.yml
  Dockerfile
Owners: @sashakolsky, @lanasussman

fix docker build yml file
  .github/workflows/docker-build.yml
Owners: @sashakolsky

repoint to kuber back
  .env
Owners: @lanasussman

Delete .github/workflows/azure-static-web-apps-yellow-pebble-0ff6c7d0f.yml
  .github/workflows/azure-static-web-apps-yellow-pebble-0ff6c7d0f.yml
Owners: @sashakolsky

env var
  Dockerfile
  tsconfig.app.tsbuildinfo
  tsconfig.node.tsbuildinfo
Owners: @lanasussman

categories completed
  src/components/CategoryModal.tsx
  src/index.css
  src/pages/Categories.tsx
  src/router/router.tsx
  src/types/types.ts
Owners: @lanasussman

categories completed (#25)
  src/components/CategoryModal.tsx
  src/index.css
  src/pages/Categories.tsx
  src/router/router.tsx
  src/types/types.ts
Owners: @lanasussman

added transactions, fix errors, minor modifications
  index.html
  package.json
  public/favicon.svg
  public/vite.svg
  src/App.tsx
  src/api/axios.api.ts
  src/components/CategoryModal.tsx
  src/components/Chart.tsx
  src/components/TransactionForm.tsx
  src/components/TransactionTable.tsx
  src/helpers/currency.helper.ts
  src/helpers/date.helper.ts
  src/helpers/localstorage.helper.ts
  src/hooks/useAuth.ts
  src/pages/Auth.tsx
  src/pages/Categories.tsx
  src/pages/Home.tsx
  src/pages/Transactions.tsx
  src/router/router.tsx
  src/services/auth.service.ts
  src/types/types.ts
Owners: @lanasussman

modified ignore file
  .gitignore
Owners: @lanasussman

replaced the page title
  index.html
Owners: @lanasussman

UI_15_Transactions_Pagination_All (#26)
  .gitignore
  index.html
  package.json
  public/favicon.svg
  public/vite.svg
  src/App.tsx
  src/api/axios.api.ts
  src/components/CategoryModal.tsx
  src/components/Chart.tsx
  src/components/TransactionForm.tsx
  src/components/TransactionTable.tsx
  src/helpers/currency.helper.ts
  src/helpers/date.helper.ts
  src/helpers/localstorage.helper.ts
  src/hooks/useAuth.ts
  src/pages/Auth.tsx
  src/pages/Categories.tsx
  src/pages/Home.tsx
  src/pages/Transactions.tsx
  src/router/router.tsx
  src/services/auth.service.ts
  src/types/types.ts
Owners: @lanasussman

fixed backend endpoint. Changed to https://backapp-dhfngacba4gna8de.eastus-01.azurewebsites.net/api
  .env
Owners: @lanasussman

fixed backend endpoint. Changed to https://backapp-dhfngacba4gna8de.eastus-01.azurewebsites.net/api (#27)
  .env
Owners: @lanasussman

fixed Bearer Token not attached, axios instance
  .env
Owners: @lanasussman

fixed Bearer Token
  src/api/axios.api.ts
Owners: @lanasussman

fix to match token to access_token var in back end
  src/api/axios.api.ts
  src/components/Header.tsx
  src/helpers/localstorage.helper.ts
  src/pages/Auth.tsx
Owners: @lanasussman

Issue 73 fix bearer token (#28)
  .env
  src/api/axios.api.ts
  src/components/Header.tsx
  src/helpers/localstorage.helper.ts
  src/pages/Auth.tsx
Owners: @lanasussman

fixed IUser model to match the token property name 'access_token'
  src/types/types.ts
Owners: @lanasussman

Issue 73 fix i user model (#29)
  src/types/types.ts
Owners: @lanasussman

nginx
  Dockerfile
  nginx.conf
Owners: @lanasussman

nginx
  nginx.conf
  tsconfig.app.tsbuildinfo
Owners: @lanasussman

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @sashakolsky

nginx
  nginx.conf
  src/api/axios.api.ts
Owners: @lanasussman

nginx
  package-lock.json
  package.json
Owners: @lanasussman

Delete package.json
  package.json
Owners: @lanasussman

Delete tsconfig.app.tsbuildinfo
  tsconfig.app.tsbuildinfo
Owners: @lanasussman

Delete src/api/axios.api.ts
  src/api/axios.api.ts
Owners: @lanasussman

Delete package-lock.json
  package-lock.json
Owners: @lanasussman

nginx
  nginx.conf
Owners: @lanasussman

test change
  src/api/axios.api.ts
Owners: @lanasussman

test change (#34)
  src/api/axios.api.ts
Owners: @lanasussman

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @sashakolsky

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @sashakolsky

Update Dockerfile
  Dockerfile
Owners: @lanasussman

test fix
  Dockerfile
  nginx.conf
Owners: @lanasussman

env update
  Dockerfile
  src/api/axios.api.ts
Owners: @lanasussman

Fixed Cat id Transaction id string to number
  src/pages/Categories.tsx
  src/pages/Transactions.tsx
Owners: @lanasussman

Fixed Cat id Transaction id string to number (#37)
  src/pages/Categories.tsx
  src/pages/Transactions.tsx
Owners: @lanasussman

test pr to test deploy + css modification
  src/index.css
  src/pages/Transactions.tsx
Owners: @lanasussman
